@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');

body {
  font-family: 'Raleway', sans-serif !important;
}
.hero {
  height: 100vh;
  /* min-height: 645px; */
  /*  TODO fix pixelation on zoom*/
  -webkit-transition: all .5s ease-in-out; /* Safari and Chrome */
  -moz-transition: all .5s ease-in-out; /* Firefox */
  -ms-transition: all .5s ease-in-out; /* IE 9 */
  -o-transition: all .5s ease-in-out; /* Opera */
  transition: all .5s ease-in-out;
  /* background-color: #D9DBF1; */
  background-color: #5966F2;

}
#home {

  /* background-image: url('../assets/actor.jpg');
  background-size: cover; */
}
.container-fluid {
  background-color: ghostwhite;
}
.msg {
  padding:20px;
  font-size: 65px;
  text-align: center;
  margin: 0 auto;
  font-weight: 900;
}
.typewriter-msg {
  color: #EFE358;
  text-decoration: underline;
}
.skills {
  background-color: ghostwhite;
  padding-bottom: 4em;
}
.skills h3 {
  padding-top: 2em;
  padding-bottom: 1em;
}
@media only screen and (max-width: 449px) {
  .modal-content {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
.modal-dialog {
  max-width: 900px !important;
  text-align: center;
}
.modal-body p {
  padding-top: 2em;
  line-height: 1.7em;
}
.blocks {
  background-color: ghostwhite;
  margin: 0 auto;
  text-align: center;
  padding-left: 1px;
  padding-right: 1px;
  margin-bottom: 1em;
  color: #212658;
  border: 1px solid #212658;
  border-radius: 2px;
}
.beforeFooter {
  /* height: 400px; */
  padding-top: 8em;
  padding-bottom: 4em;
  /* color: #D9DBF1; */
  background-color: #EFE358;
  /* background-color: #F5F8DE; */
}
.col-lg-4 h1, col-lg-4 h3 {
  -webkit-text-stroke: 1px #5966F2;
}
.btn {
  transition: color .35s ease-in-out,background-color .35s ease-in-out,border-color .35s ease-in-out,box-shadow .35s ease-in-out,border-radius 0.5s ease-in-out, width .5s ease-in-out !important;
}
.btn-outline-dark {
  color: #EFE358 !important;
  background-color: #5966F2 !important;
  background-image: none !important;
  border-color: #5966F2 !important;
}
.btn-outline-dark:hover {
  color: #5966F2 !important;
  border-radius: 10px !important;
  width: 120px !important;
  background-color: #EFE358 !important;
  border-color: #5966F2 !important;
}
.socials {
  padding-top: 10em;
  padding-bottom: 2em;
  background-color: #212658;
  color: #EFE358;
}
.social-icons {
  /* margin-left: -2em; */
}
.social-icons a:hover {
  text-decoration: none;
  color: white;
}
.social-icons a {
  color: #EFE358;
  transition: color .2s ease-in-out;
}
.icon {
  fill: currentColor !important;
  position: relative;
  transition: top .1s ease-in-out;
}
.icon:hover {
  top: -2px;
}
.iconX {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 10px;
    /* border: 1px solid black; */
    margin: 0 auto;
    background-color: ghostwhite;
    /* background-color: #727076; */
    opacity: 1;
    position: relative;
    top: 0;
    transition: top .1s ease-in-out;
}
.iconX:hover {
  top: 2px;
}
#contact_butt {
  border-radius: .3rem;
  transition: border-radius .2s ease-in-out;
}
#contact_butt:hover {
  border-radius: 1rem;
}
#arrow {
  position: absolute;
  bottom: 0;
  padding-bottom: 2px;
}
#arrow svg {
  fill: black;
  transition: fill .3s ease-in-out;
}
#arrow svg:hover {
  fill: white;
}
hr {
  width: 24%;
  border-top-color: black !important;
}
.col-xl-4 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.skill {
  /* border: 1px solid black; */
  padding-bottom: 1em;
  margin-top: -35px;
}
.card {
  border: 1px solid black;
  overflow: hidden;
  /* opacity: 0; */
}
.card a {
  text-align: center;
  color: ghostwhite !important;
}
#hy_link:hover {
  text-decoration: none;
}
.rh {
  max-height: 360px;
}
#p {
  width: 225px;
  margin: 0 auto;
  height: auto;
}
#p_wireframe {
  width: 150%;
  height: auto;
}
#hy {
  text-align: center;
  /* height: 355px; */
  /* position: sticky; */
  /* top: 40%; */
  font-size: 3.5em;
}
#lotus {
  width: fit-content;
  /* min-width: 80%; */
  height: auto;
  margin: 0 auto;
}
#ama {
  width: 285px;
  margin: 0 auto;
}
.card-img {
  opacity: 1;
  min-height: 357px;
  max-height: fit-content;
  -webkit-transition: all .5s ease; /* Safari and Chrome */
  -moz-transition: all .5s ease; /* Firefox */
  -ms-transition: all .5s ease; /* IE 9 */
  -o-transition: all .5s ease; /* Opera */
  transition: all .5s ease;
}
@media only screen and (max-width: 449px) {
  #lotus {
    width: auto !important;
    min-width: 50% !important;
    max-width: fit-content;
    margin-left: -2.5em;
  }
}
@media only screen and (max-width: 1199px) {
  #lotus {
    width: auto !important;
    min-width: 50% !important;
    max-width: 100%;
  }
  .skill {
    padding-bottom: 2em;
    margin: 0 auto;
    width: 60% !important;
  }
}
.card-img:hover {
  -webkit-transform:scale(1.15); /* Safari and Chrome */
  -moz-transform:scale(1.15); /* Firefox */
  -ms-transform:scale(1.15); /* IE 9 */
  -o-transform:scale(1.15); /* Opera */
  transform:scale(1.15);
}
.card-img-overlay {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
.card-img-overlay:hover {
  opacity: 1;
}
.cardes {
  max-height: 400px;
}
.beforeSkill {
  padding-top: 4em;
  background-color: #474747;
  color: #F8E77A;
  /* background-color: #807182; */
}
/* The Close Button */
.closer {
    color: #aaa;
    /* top: -23px; */
    /* text-align: right; */
    position: relative;
    font-size: 28px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    left: 95%;
}

.row .col-6 img {
  width: 100%;
}
#work1 .modal-dialog,#work2 .modal-dialog,#work3 .modal-dialog,#work4 .modal-dialog {
    -webkit-transform: translate(0,-47%);
    -o-transform: translate(0,-47%);
    transform: translate(0,-47%);
    top: 50%;
    margin: 0 auto;
}
#work1 .modal-content {
  background-color: ghostwhite;
  color: #212658;
}
.modal-content button:hover {
  background-color: ghostwhite !important;
}
.work {
  /* background-color: #807182; */
  background-color: #474747;
}

.skill h5 {
  text-align: center;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #5966F2;
    color: #EFE358;
    padding: 12px 20px;
    border: 1px solid #5966F2;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .7s ease-in-out;
    transition: border-color .7s ease-in-out;
    transition: border-radius .3s ease-in-out;
}
input[type=submit]:hover {
    background-color: #EFE358;
    color: #5966F2;
    border: 1px solid #5966F2;
    border-radius: 10px;
}

/* Add a background color and some padding around the form */
#contact-form {
    border-radius: 5px;
    background-color: #101010;
    padding: 20px;
}
